{% extends "home/base.html" %}
{% load static %}
		
{% block head %}
    {% include "includes/head.html" with title='Accueil' %}
{% endblock head %}

{% block hero %}
    ACCUEIL
{% endblock hero %}

{% block content %} 
    <section>
        <a href="{% url 'suiviqualite:index' %}">
            <img src="{% static 'icons/data.svg' %}" style="height: 40px; margin-right: 1rem;">
            <h2>Contrôle Qualité</h2>
        </a>
        <a href="{% url 'suiviproduction:index' %}">
            <img src="{% static 'icons/production.svg' %}" style="height: 40px; margin-right: 1rem;">
            <h2>Contrôle Production</h2>
        </a>
        <a href="{% url 'suivichargement:index' %}">
            <img src="{% static 'icons/chargement.svg' %}" style="height: 40px; margin-right: 1rem;">
            <h2>Contrôle Chargement</h2>
        </a>
    </section>
{% endblock content %}