<div class="formulaire" id="form-metro">
  <form name="metro" action="{% url 'suiviqualite:submit' 'metrologique' %}" method="post">
      {% csrf_token %} 
      <div class="select-group">
        <select name="quart" required>
          <option value="">--Quart--</option>
          <option value="Q1">1er Quart</option>
          <option value="Q2">2e Quart</option>
          <option value="Q3">3e Quart</option>
        </select> 

        <select name="machine" required>
          <option value="">--Machine--</option>
          {% for machine in machines %}
              <option value="{{ machine }}">{{ machine }}</option>
          {% endfor %}
        </select> 
      </div>

    <div class="form-field">
      <label for="poids">
          <span>Poids :</span>         
      </label>
      <input type="number" name="poids" id="poids" step="0.01" min="0" max="1000" required>
    </div>

    <div class="observation">
      <label for="obs-metro">
          <span>Observations :</span> 
      </label>
      <textarea name="observation" id="obs-metro" rows="4"></textarea>
    </div>

    <div class="submit">      
      <input type="submit" value="Soumettre"> 
      <span class="annuler annuler-metro"><a>Annuler</a></span>
    </div>    
  </form>
</div>