<div class="formulaire" id="form-micro">
    <form action="{% url 'suiviqualite:submit' 'microbiologique' %}" method="POST">
        {% csrf_token %}
        {% for label in labels %}
        <div class="form-field">
            <label for="{{ label.id }}">
                <span>{{ label.label }} :</span>         
            </label>
            <div class="form-input">
                {% if label.required %}
                    <input type="number" name="{{ label.name }}" id="{{ label.id }}" step="0.01" min="0" max="100" value="{{ label.value }}" required>
                {% else %}
                    <input type="number" name="{{ label.name }}" id="{{ label.id }}" step="0.01" min="0" max="100" value="{{ label.value }}">
                {% endif %}
                <span class="unite"> {{ label.unite }} </span> 
            </div>
        </div>
        {% endfor %}

        <div class="form-field form-field-select">
            <label for="psma">
                <span>Pseudomonas :</span>           
            </label>
            <select name="pseudomonas" id="psma" value="{{ pseudomonas }}">
              <option value="A">Absent</option>
              <option value="P">Présent</option>
            </select> 
          </div>
  
        <div class="observation">
            <label for="obs-micro">
                <span>Observations :</span> 
            </label>
            <textarea name="observation" id="obs-micro" rows="4" value="{{ obs }}"></textarea>
        </div>
    
        <div class="submit">
            <input type="hidden" name="element_id" value="{{ element_id }}">     
            <input type="submit" value="Enregistrer"> 
            <span class="annuler annuler-micro"><a>Annuler</a></span>
        </div>
    </form>
</div>